html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: #7fffd488;
    color: black;
    text-align: left;
    padding: 0px 0px 10px 0px;
}

.menu {
    position: relative;
    background-color: #7fffd488;
    padding: 0px 0px 4px 8px;
    display: inline;
    font: caption;
    color: black;
    box-shadow: 0px 0px 10px 0px #3e7d6888;
}

.naDireita {
    position: relative;
    display: inline;
    text-align: right;
    
}

.margem {
    padding: 0px 0px 10px 100px;

}


.container img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    padding: 0px 0px 10px 8px;
}

.conteudo {
    flex: 1 0 auto;
}

.titulos-paginas {
    padding: 0px 0px 10px 100px;
}

.rodape {
    flex-shrink: 0;
    background-color: aquamarine;
    color: black;
    padding: 5px;
    text-align: center;
}